.main{
    max-width: 100vw;
    max-height: 100vh;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(22, 13, 63); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 4vh 8px 8px 32px;
    text-decoration: none;
    font-size: large;
    color: #FFF;
    display: block;
    transition: 0.3s;
  }
  .sidenav .close{
      padding-top: 8px !important;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .bar{
      
      width: 35px;
      height: 5px;
      margin: 6px 0;
      background-color: #000000;
  }
  .container{
      margin-top: 1vh;
      display: inline-block;
      cursor: pointer;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }